Fase 2/Evidencias Proyecto/Evidencias de sistema Aplicación/N8N JSON.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "fromEmail": "junta360digital@gmail.com",
        "toEmail": "={{$json.body.email}}",
        "subject": "=Certificado de Residencia Aprobado para {{$json.body.nombre_completo}}",
        "html": "=<p>Hola {{$json.body.nombre_completo}},</p>\n<br>\n<p>隆Tenemos una excelente noticia!</p>\n<p>Tu solicitud de Certificado de Residencia ha sido <b>aprobada</b>. Ahora puedes descargar tu certificado .</p>\n<br>\n<br>\n<p>Si tienes alguna pregunta, no dudes en contactarnos.</p>\n<br>\n<p>Saludos cordiales,</p>\n<p>El equipo de Junta360 Digital.</p>",
        "options": {
          "attachments": "data"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        64,
        432
      ],
      "id": "ec7fe673-90a3-411c-b704-78438abdb752",
      "name": "Send email",
      "webhookId": "60795e5c-908c-489d-8d3e-838038b25d7c",
      "credentials": {
        "smtp": {
          "id": "bOViACxKzOmlPHmx",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pdfBase64 = items[0].json.body.certificado_base64;\n\n// 隆IMPORTANTE! Validar que el valor no sea nulo o indefinido\nif (!pdfBase64) {\n  throw new Error(\"La propiedad 'certificado_base64' no se encontr贸 en el cuerpo de la solicitud del webhook.\");\n}\n\n// Decodifica la cadena Base64\nconst pdfBinary = Buffer.from(pdfBase64, 'base64');\n\n// Asigna el PDF decodificado a la propiedad binaria 'data'\nitems[0].binary = {\n  data: {\n    fileName: 'certificado.pdf',\n    data: pdfBinary\n  }\n};\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        480
      ],
      "id": "13139bb2-a865-4776-9129-da40e45445dd",
      "name": "Function"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=674778979062079",
        "recipientPhoneNumber": "={{ $json.body.telefono }}",
        "textBody": "Su certificado de residencia fue aprobado, se adjunta documento",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        64,
        608
      ],
      "id": "57ad7a4f-d6e0-419a-9af2-a02a98bdbace",
      "name": "Text",
      "webhookId": "2e22f807-2522-4321-a3e2-a261bf0a2acd",
      "credentials": {
        "whatsAppApi": {
          "id": "7Eh5qnaxDUDh8SlI",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=674778979062079",
        "recipientPhoneNumber": "={{ $json.body.telefono }}",
        "messageType": "document",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        64,
        800
      ],
      "id": "7a83b3a9-562c-440c-982c-adbbbe29338c",
      "name": "PDF",
      "webhookId": "2e22f807-2522-4321-a3e2-a261bf0a2acd",
      "credentials": {
        "whatsAppApi": {
          "id": "7Eh5qnaxDUDh8SlI",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1933178-d498-4803-ba79-41b9224d657f",
              "leftValue": "={{ $json.body.tipo_accion }}",
              "rightValue": "aprobacion",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -528,
        960
      ],
      "id": "899b276a-eebc-486b-ba5a-50f422c88e6d",
      "name": "If"
    },
    {
      "parameters": {
        "fromEmail": "=junta360digital@gmail.com",
        "toEmail": "={{ $json.body.proponente_email }}",
        "subject": "隆Tu proyecto ha sido aprobado! ",
        "html": "=Hola {{ $json.body.proponente_nombre }},\n\n隆Te tenemos excelentes noticias! \n\nTu proyecto \"{{ $json.body.proyecto_titulo }}\" ha sido aprobado por la directiva de la Junta de Vecinos.\n\nPuedes ver el estado de tu proyecto en la plataforma.\n\nAgradecemos mucho tu participaci贸n.\nSaludos,\nLa directiva",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -320,
        880
      ],
      "id": "bfe84d9d-98b8-40ef-8b88-862838448423",
      "name": "Proyecto aprobado",
      "webhookId": "4bbaa096-997c-414b-9042-827694918834",
      "credentials": {
        "smtp": {
          "id": "bOViACxKzOmlPHmx",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "junta360digital@gmail.com",
        "toEmail": "={{ $json.body.proponente_email }}",
        "subject": "Resoluci贸n de tu proyecto",
        "html": "=Hola {{ $json.body.proponente_nombre }},\n\nTe escribimos para informarte que tu proyecto \"{{ $json.body.proyecto_titulo }}\" ha sido rechazado por la directiva.\n\nPuedes contactarnos para m谩s detalles sobre esta decisi贸n.\n\nAgradecemos tu iniciativa y esperamos ver m谩s propuestas de tu parte en el futuro.\nSaludos,\nLa directiva",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -240,
        1072
      ],
      "id": "c99b644b-2e2b-4fab-b44c-7a9f0f0fdd9a",
      "name": "Proyecto rechazado",
      "webhookId": "6c2f79d5-c0f0-421d-8c84-e7afeaa98355",
      "credentials": {
        "smtp": {
          "id": "bOViACxKzOmlPHmx",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6a6dc069-8dbe-4c3f-8f88-e5d4a330b4e2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        144
      ],
      "id": "f32eb7df-7c28-468b-a85f-3189b77f38ae",
      "name": "Envia avisos",
      "webhookId": "6a6dc069-8dbe-4c3f-8f88-e5d4a330b4e2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.tipo_aviso }}",
                    "rightValue": "email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1f01c9f5-07fa-4a5a-8de5-c32e899fc73a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "94250a04-1a6f-4ba1-9265-9a1e7d0b0a29",
                    "leftValue": "={{ $json.body.tipo_aviso }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5bc8f901-735b-4452-a992-1f4cefd2c1d0",
                    "leftValue": "={{ $json.body.tipo_aviso }}",
                    "rightValue": "ambos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -256,
        176
      ],
      "id": "a33b920d-e27f-463b-8947-2623c3c8eafa",
      "name": "Switch"
    },
    {
      "parameters": {
        "fromEmail": "junta360digital@gmail.com",
        "toEmail": "={{ $json.body.email }}",
        "subject": "=C贸digo de recuperaci贸n",
        "html": "=<p>Hola <b>{{ $json.body.user_name }}</b>,</p>\n<br>\n<p>Hemos recibido una solicitud para restablecer la contrase帽a de tu cuenta. Para completar el proceso, ingresa el siguiente c贸digo de verificaci贸n:</p>\n<br>\n<p style=\"font-size: 24px; font-weight: bold; color: #4CAF50;\">{{ $json.body.code }}</p>\n<br>\n<p>Este c贸digo es v谩lido por <b>{{ $json.body.expiration_minutes }}</b> minutos.</p>\n<br>\n<p>Si no solicitaste este restablecimiento, es posible que alguien m谩s haya intentado acceder a tu cuenta. Te recomendamos cambiar tu contrase帽a una vez que recuperes el acceso.</p>\n<br>\n<p>Saludos cordiales,</p>\n",
        "options": {
          "attachments": "data"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        512,
        1248
      ],
      "id": "9604b4e4-8528-4138-ae16-5260d5f96542",
      "name": "Enviar email",
      "webhookId": "60795e5c-908c-489d-8d3e-838038b25d7c",
      "credentials": {
        "smtp": {
          "id": "bOViACxKzOmlPHmx",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "junta360digital@gmail.com",
        "toEmail": "={{$json.body.email}}",
        "subject": "=Su contrase帽a de Junta360 ha sido cambiada",
        "html": "=<p>Hola <b>{{ $json.body.user_name }}</b>,</p>\n<br>\n<p>Solo para confirmar que tu contrase帽a ha sido cambiada con 茅xito.</p>\n<br>\n<p>Si no realizaste este cambio, por favor, contacta a nuestro equipo de soporte inmediatamente.</p>\n<br>\n<p>Saludos cordiales,</p>\n",
        "options": {
          "attachments": "data"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        528,
        1504
      ],
      "id": "d5d62402-5764-4239-84b5-127cc4c898fd",
      "name": "Enviar Email",
      "webhookId": "60795e5c-908c-489d-8d3e-838038b25d7c",
      "credentials": {
        "smtp": {
          "id": "bOViACxKzOmlPHmx",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9d9ef9d0-76df-446c-8b82-f90cbc79f998",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        1264
      ],
      "id": "6f833b52-4b4d-4e18-a211-0c8822f3d9ca",
      "name": "Enviar codigo de reset clave",
      "webhookId": "9d9ef9d0-76df-446c-8b82-f90cbc79f997"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9d9ef9d0-76df-446c-8b82-f90cbc79f997",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        1472
      ],
      "id": "faab780d-b64a-4a59-898c-8abfc4bfe653",
      "name": "Confirmaci贸n cambio de clave",
      "webhookId": "9d9ef9d0-76df-446c-8b82-f90cbc79f997"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bb27b5d2-4f46-400b-b01b-f24001de5847",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -736,
        960
      ],
      "id": "488063a6-a007-429f-a419-49892131bbf9",
      "name": "Resoluci贸n proyecto vecinal",
      "webhookId": "bb27b5d2-4f46-400b-b01b-f24001de5847"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e1d296c6-c14b-451b-a1d3-2b0793e81c7b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -624,
        480
      ],
      "id": "8c446fd4-6714-4347-b0ee-89fe120e5112",
      "name": "Certificado residencia ",
      "webhookId": "e1d296c6-c14b-451b-a1d3-2b0793e81c7b"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=674778979062079",
        "recipientPhoneNumber": "={{ $json.body.telefonos_destino }}",
        "textBody": "=*{{$json.body.titulo}}* \n{{$json.body.contenido}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        0,
        240
      ],
      "id": "109f669e-090e-4cf9-889d-effbcf1b1a2d",
      "name": "Texto",
      "webhookId": "2e22f807-2522-4321-a3e2-a261bf0a2acd",
      "credentials": {
        "whatsAppApi": {
          "id": "7Eh5qnaxDUDh8SlI",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "junta360digital@gmail.com",
        "toEmail": "={{ $json.body.emails_destino }}",
        "subject": "={{ $json.body.titulo }}",
        "html": "={{ $json.body.contenido }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "2414f9b6-ea96-4dcb-8770-24a78ac80a4a",
      "name": "Enviar correo",
      "webhookId": "67e53e3b-d526-4025-a50e-c1e7d8f85038",
      "credentials": {
        "smtp": {
          "id": "bOViACxKzOmlPHmx",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a0257c4e-08f5-41b7-888f-7446e06257f7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        384,
        240
      ],
      "id": "9ce89d9b-263a-4ee8-b342-d7fe94e49297",
      "name": "Webhook",
      "webhookId": "a0257c4e-08f5-41b7-888f-7446e06257f7"
    },
    {
      "parameters": {
        "fromEmail": "junta360digital@gmail.com",
        "toEmail": "=junta360digital@gmail.com",
        "subject": "={{ \"Nuevo mensaje de: \" + $json.body.nombre }}",
        "emailFormat": "text",
        "text": "=Se ha contactado mediante el formulario web de tu barrio:\nNombre: {{ $json.body.nombre }}\nEmail: {{ $json.body.email }}\nMensaje: {{ $json.body.mensaje }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        656,
        256
      ],
      "id": "4c8010a1-b8cc-4947-88c0-c57449815118",
      "name": "Enviar correo1",
      "webhookId": "67e53e3b-d526-4025-a50e-c1e7d8f85038",
      "credentials": {
        "smtp": {
          "id": "bOViACxKzOmlPHmx",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Function": {
      "main": [
        [
          {
            "node": "PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Proyecto aprobado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Proyecto rechazado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia avisos": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Enviar correo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar correo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar codigo de reset clave": {
      "main": [
        [
          {
            "node": "Enviar email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmaci贸n cambio de clave": {
      "main": [
        [
          {
            "node": "Enviar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resoluci贸n proyecto vecinal": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Certificado residencia ": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar correo": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Enviar correo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "88b37865-efad-4e50-9e6d-6f0e8a66c4c8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fa1f81bfe7e762b521055c5b1385afb60f7c2cd3d2974a358d46db02a77775be"
  },
  "id": "EBt28HRRL3CYkiDp",
  "tags": []
}