Fase 2/Evidencias Proyecto/Evidencias de sistema Aplicación/N8N JSON.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "fromEmail": "junta360digital@gmail.com",
        "toEmail": "={{$json.body.email}}",
        "subject": "=Certificado de Residencia Aprobado para {{$json.body.nombre_completo}}",
        "html": "=<p>Hola {{$json.body.nombre_completo}},</p>\n<br>\n<p>隆Tenemos una excelente noticia!</p>\n<p>Tu solicitud de Certificado de Residencia ha sido <b>aprobada</b>. Ahora puedes descargar tu certificado .</p>\n<br>\n<br>\n<p>Si tienes alguna pregunta, no dudes en contactarnos.</p>\n<br>\n<p>Saludos cordiales,</p>\n<p>El equipo de Junta360 Digital.</p>",
        "options": {
          "attachments": "data"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -240,
        432
      ],
      "id": "fb17cd8e-c393-44f0-a9c8-80032dda68a8",
      "name": "Send email",
      "webhookId": "60795e5c-908c-489d-8d3e-838038b25d7c",
      "credentials": {
        "smtp": {
          "id": "SyW6x17qltBiODgw",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pdfBase64 = items[0].json.body.certificado_base64;\n\n// 隆IMPORTANTE! Validar que el valor no sea nulo o indefinido\nif (!pdfBase64) {\n  throw new Error(\"La propiedad 'certificado_base64' no se encontr贸 en el cuerpo de la solicitud del webhook.\");\n}\n\n// Decodifica la cadena Base64\nconst pdfBinary = Buffer.from(pdfBase64, 'base64');\n\n// Asigna el PDF decodificado a la propiedad binaria 'data'\nitems[0].binary = {\n  data: {\n    fileName: 'certificado.pdf',\n    data: pdfBinary\n  }\n};\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        576
      ],
      "id": "5d4a7b32-c2cd-48b8-95e3-89080b7e1120",
      "name": "Function"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=674778979062079",
        "recipientPhoneNumber": "={{ $json.body.telefono }}",
        "messageType": "document",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -240,
        736
      ],
      "id": "cfb4125e-290e-4f47-a9d7-d743643a2399",
      "name": "PDF",
      "webhookId": "2e22f807-2522-4321-a3e2-a261bf0a2acd",
      "credentials": {
        "whatsAppApi": {
          "id": "oGGRGnlLQ5m0NRjo",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1933178-d498-4803-ba79-41b9224d657f",
              "leftValue": "={{ $json.body.tipo_accion }}",
              "rightValue": "aprobacion",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -496,
        1184
      ],
      "id": "8cdf1ead-cb93-4c9f-a424-15680b14914e",
      "name": "If"
    },
    {
      "parameters": {
        "fromEmail": "=junta360digital@gmail.com",
        "toEmail": "={{ $json.body.proponente_email }}",
        "subject": "隆Tu proyecto ha sido aprobado! ",
        "html": "=Hola {{ $json.body.proponente_nombre }},\n\n隆Te tenemos excelentes noticias! \n\nTu proyecto \"{{ $json.body.proyecto_titulo }}\" ha sido aprobado por la directiva de la Junta de Vecinos.\n\nPuedes ver el estado de tu proyecto en la plataforma.\n\nAgradecemos mucho tu participaci贸n.\nSaludos,\nLa directiva",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -240,
        1040
      ],
      "id": "22bffd66-bcbb-40d3-b1e3-6790cd763492",
      "name": "Proyecto aprobado",
      "webhookId": "4bbaa096-997c-414b-9042-827694918834",
      "credentials": {
        "smtp": {
          "id": "SyW6x17qltBiODgw",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "junta360digital@gmail.com",
        "toEmail": "={{ $json.body.proponente_email }}",
        "subject": "Resoluci贸n de tu proyecto",
        "html": "=Hola {{ $json.body.proponente_nombre }},\n\nTe escribimos para informarte que tu proyecto \"{{ $json.body.proyecto_titulo }}\" ha sido rechazado por la directiva.\n\nPuedes contactarnos para m谩s detalles sobre esta decisi贸n.\n\nAgradecemos tu iniciativa y esperamos ver m谩s propuestas de tu parte en el futuro.\nSaludos,\nLa directiva",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -240,
        1184
      ],
      "id": "2e2b051b-9539-432f-bea3-68aeb0af394f",
      "name": "Proyecto rechazado",
      "webhookId": "6c2f79d5-c0f0-421d-8c84-e7afeaa98355",
      "credentials": {
        "smtp": {
          "id": "SyW6x17qltBiODgw",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6a6dc069-8dbe-4c3f-8f88-e5d4a330b4e2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -704,
        1440
      ],
      "id": "4dbdc05d-1743-4262-9b7d-c99c806401f3",
      "name": "Envia avisos",
      "webhookId": "6a6dc069-8dbe-4c3f-8f88-e5d4a330b4e2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.tipo_aviso }}",
                    "rightValue": "email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1f01c9f5-07fa-4a5a-8de5-c32e899fc73a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "94250a04-1a6f-4ba1-9265-9a1e7d0b0a29",
                    "leftValue": "={{ $json.body.tipo_aviso }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5bc8f901-735b-4452-a992-1f4cefd2c1d0",
                    "leftValue": "={{ $json.body.tipo_aviso }}",
                    "rightValue": "ambos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -496,
        1424
      ],
      "id": "502d4e5e-5f8c-446f-bd1f-271cacf8822d",
      "name": "Switch"
    },
    {
      "parameters": {
        "fromEmail": "junta360digital@gmail.com",
        "toEmail": "={{ $json.body.email }}",
        "subject": "=C贸digo de recuperaci贸n",
        "html": "=<p>Hola <b>{{ $json.body.user_name }}</b>,</p>\n<br>\n<p>Hemos recibido una solicitud para restablecer la contrase帽a de tu cuenta. Para completar el proceso, ingresa el siguiente c贸digo de verificaci贸n:</p>\n<br>\n<p style=\"font-size: 24px; font-weight: bold; color: #4CAF50;\">{{ $json.body.code }}</p>\n<br>\n<p>Este c贸digo es v谩lido por <b>{{ $json.body.expiration_minutes }}</b> minutos.</p>\n<br>\n<p>Si no solicitaste este restablecimiento, es posible que alguien m谩s haya intentado acceder a tu cuenta. Te recomendamos cambiar tu contrase帽a una vez que recuperes el acceso.</p>\n<br>\n<p>Saludos cordiales,</p>\n",
        "options": {
          "attachments": "data"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -496,
        1008
      ],
      "id": "537553ad-f4b1-4cda-b7c6-a3f812aafb27",
      "name": "Enviar email",
      "webhookId": "60795e5c-908c-489d-8d3e-838038b25d7c",
      "credentials": {
        "smtp": {
          "id": "SyW6x17qltBiODgw",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "junta360digital@gmail.com",
        "toEmail": "={{$json.body.email}}",
        "subject": "=Su contrase帽a de Junta360 ha sido cambiada",
        "html": "=<p>Hola <b>{{ $json.body.user_name }}</b>,</p>\n<br>\n<p>Solo para confirmar que tu contrase帽a ha sido cambiada con 茅xito.</p>\n<br>\n<p>Si no realizaste este cambio, por favor, contacta a nuestro equipo de soporte inmediatamente.</p>\n<br>\n<p>Saludos cordiales,</p>\n",
        "options": {
          "attachments": "data"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -496,
        864
      ],
      "id": "56cc3633-52b8-4e25-81c1-f160d73d11a3",
      "name": "Enviar Email",
      "webhookId": "60795e5c-908c-489d-8d3e-838038b25d7c",
      "credentials": {
        "smtp": {
          "id": "SyW6x17qltBiODgw",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9d9ef9d0-76df-446c-8b82-f90cbc79f998",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -704,
        1008
      ],
      "id": "309a9ece-aa3a-4bfb-9b38-45b1848fa0be",
      "name": "Enviar codigo de reset clave",
      "webhookId": "9d9ef9d0-76df-446c-8b82-f90cbc79f997"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9d9ef9d0-76df-446c-8b82-f90cbc79f997",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -704,
        864
      ],
      "id": "30cd4d3a-f2e3-4f24-b59d-a0f4b8a8efb6",
      "name": "Confirmaci贸n cambio de clave",
      "webhookId": "9d9ef9d0-76df-446c-8b82-f90cbc79f997"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bb27b5d2-4f46-400b-b01b-f24001de5847",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -704,
        1184
      ],
      "id": "cce6c621-5e11-48b9-91d4-bf1ea800e9d9",
      "name": "Resoluci贸n proyecto vecinal",
      "webhookId": "bb27b5d2-4f46-400b-b01b-f24001de5847"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e1d296c6-c14b-451b-a1d3-2b0793e81c7b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -704,
        576
      ],
      "id": "ccba0be6-5426-4514-87b2-0470a6f92149",
      "name": "Certificado residencia ",
      "webhookId": "e1d296c6-c14b-451b-a1d3-2b0793e81c7b"
    },
    {
      "parameters": {
        "fromEmail": "junta360digital@gmail.com",
        "toEmail": "={{ $json.body.emails_destino }}",
        "subject": "={{ $json.body.titulo }}",
        "html": "={{ $json.body.contenido }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -240,
        1360
      ],
      "id": "cc2898d5-e903-455f-99d0-df4e2c763ed1",
      "name": "Enviar correo",
      "webhookId": "67e53e3b-d526-4025-a50e-c1e7d8f85038",
      "credentials": {
        "smtp": {
          "id": "SyW6x17qltBiODgw",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a0257c4e-08f5-41b7-888f-7446e06257f7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -704,
        720
      ],
      "id": "52ccf08b-ea54-4325-9075-3b54951df0a2",
      "name": "Contactame",
      "webhookId": "a0257c4e-08f5-41b7-888f-7446e06257f7"
    },
    {
      "parameters": {
        "fromEmail": "junta360digital@gmail.com",
        "toEmail": "=junta360digital@gmail.com",
        "subject": "={{ \"Nuevo mensaje de: \" + $json.body.nombre }}",
        "emailFormat": "text",
        "text": "=Se ha contactado mediante el formulario web de tu barrio:\nNombre: {{ $json.body.nombre }}\nEmail: {{ $json.body.email }}\nMensaje: {{ $json.body.mensaje }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -496,
        720
      ],
      "id": "91becf6f-1fca-4550-8c26-465160583587",
      "name": "Enviar msj contacto",
      "webhookId": "67e53e3b-d526-4025-a50e-c1e7d8f85038",
      "credentials": {
        "smtp": {
          "id": "SyW6x17qltBiODgw",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=674778979062079",
        "recipientPhoneNumber": "={{ $json.body.telefono }}",
        "textBody": "Su certificado de residencia fue aprobado, se adjunta documento",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -240,
        576
      ],
      "id": "459c7164-a00a-4a8e-80d0-ef4f4c62bf91",
      "name": "Mensaje PDF",
      "webhookId": "2e22f807-2522-4321-a3e2-a261bf0a2acd",
      "credentials": {
        "whatsAppApi": {
          "id": "oGGRGnlLQ5m0NRjo",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=674778979062079",
        "recipientPhoneNumber": "={{ $json.body.telefonos_destino }}",
        "textBody": "=*{{$json.body.titulo}}* \n{{$json.body.contenido}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -240,
        1536
      ],
      "id": "37a38dc7-7255-4e3a-a6d7-19eeaf269c7c",
      "name": "Enviar wsp aviso",
      "webhookId": "2e22f807-2522-4321-a3e2-a261bf0a2acd",
      "credentials": {
        "whatsAppApi": {
          "id": "oGGRGnlLQ5m0NRjo",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Function": {
      "main": [
        [
          {
            "node": "PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mensaje PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Proyecto aprobado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Proyecto rechazado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia avisos": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Enviar correo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar wsp aviso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar correo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar wsp aviso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar codigo de reset clave": {
      "main": [
        [
          {
            "node": "Enviar email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmaci贸n cambio de clave": {
      "main": [
        [
          {
            "node": "Enviar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resoluci贸n proyecto vecinal": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Certificado residencia ": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contactame": {
      "main": [
        [
          {
            "node": "Enviar msj contacto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2d7ee550-cf76-4c66-881c-3ba68f9c14c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c47212c7a104434a6949d1de420c2ca1f95ae2b1daa2dcbb5133d611320234d7"
  },
  "id": "c64fXfISYr7U7vNl",
  "tags": []
}