proyecto/N8N JSON.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "fromEmail": "junta360digital@gmail.com",
        "toEmail": "={{$json.body.email}}",
        "subject": "=Certificado de Residencia Aprobado para {{$json.body.nombre_completo}}",
        "html": "=<p>Hola {{$json.body.nombre_completo}},</p>\n<br>\n<p>隆Tenemos una excelente noticia!</p>\n<p>Tu solicitud de Certificado de Residencia ha sido <b>aprobada</b>. Ahora puedes descargar tu certificado .</p>\n<br>\n<br>\n<p>Si tienes alguna pregunta, no dudes en contactarnos.</p>\n<br>\n<p>Saludos cordiales,</p>\n<p>El equipo de Junta360 Digital.</p>",
        "options": {
          "attachments": "data"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        240,
        -176
      ],
      "id": "ecc442e7-6e04-471a-84bf-b04ead26016c",
      "name": "Send email",
      "webhookId": "60795e5c-908c-489d-8d3e-838038b25d7c",
      "credentials": {
        "smtp": {
          "id": "3ApPeBUPhqEfkiRA",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e1d296c6-c14b-451b-a1d3-2b0793e81c7b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        -128
      ],
      "id": "724ada9b-8c3f-4ba8-949c-78d7cd1834da",
      "name": "Webhook",
      "webhookId": "e1d296c6-c14b-451b-a1d3-2b0793e81c7b"
    },
    {
      "parameters": {
        "jsCode": "const pdfBase64 = items[0].json.body.certificado_base64;\n\n// 隆IMPORTANTE! Validar que el valor no sea nulo o indefinido\nif (!pdfBase64) {\n  throw new Error(\"La propiedad 'certificado_base64' no se encontr贸 en el cuerpo de la solicitud del webhook.\");\n}\n\n// Decodifica la cadena Base64\nconst pdfBinary = Buffer.from(pdfBase64, 'base64');\n\n// Asigna el PDF decodificado a la propiedad binaria 'data'\nitems[0].binary = {\n  data: {\n    fileName: 'certificado.pdf',\n    data: pdfBinary\n  }\n};\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -128
      ],
      "id": "eb739dc8-5f32-459e-95aa-e586d94a6546",
      "name": "Function"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=674778979062079",
        "recipientPhoneNumber": "={{ $json.body.telefono }}",
        "textBody": "Su certificado de residencia fue aprobado, se adjunta documento",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "id": "8aca3ca4-f3c9-4df8-b365-c4c48a5c7ef5",
      "name": "Text",
      "webhookId": "2e22f807-2522-4321-a3e2-a261bf0a2acd",
      "credentials": {
        "whatsAppApi": {
          "id": "lk6OHOwwr0dxFtYg",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=674778979062079",
        "recipientPhoneNumber": "={{ $json.body.telefono }}",
        "messageType": "document",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        240,
        192
      ],
      "id": "e2e57b04-9f42-47a6-92ef-1ca23a9afa8d",
      "name": "PDF",
      "webhookId": "2e22f807-2522-4321-a3e2-a261bf0a2acd",
      "credentials": {
        "whatsAppApi": {
          "id": "lk6OHOwwr0dxFtYg",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bb27b5d2-4f46-400b-b01b-f24001de5847",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        352
      ],
      "id": "46aa7f99-925b-485f-abdb-51154629e87a",
      "name": "Webhook1",
      "webhookId": "bb27b5d2-4f46-400b-b01b-f24001de5847"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1933178-d498-4803-ba79-41b9224d657f",
              "leftValue": "={{ $json.body.tipo_accion }}",
              "rightValue": "aprobacion",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -352,
        352
      ],
      "id": "4e096e22-9401-40b2-b7c6-8132d9fdd1ed",
      "name": "If"
    },
    {
      "parameters": {
        "fromEmail": "=junta360digital@gmail.com",
        "toEmail": "={{ $json.body.proponente_email }}",
        "subject": "隆Tu proyecto ha sido aprobado! ",
        "html": "=Hola {{ $json.body.proponente_nombre }},\n\n隆Te tenemos excelentes noticias! \n\nTu proyecto \"{{ $json.body.proyecto_titulo }}\" ha sido aprobado por la directiva de la Junta de Vecinos.\n\nPuedes ver el estado de tu proyecto en la plataforma.\n\nAgradecemos mucho tu participaci贸n.\nSaludos,\nLa directiva",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -144,
        272
      ],
      "id": "6f576dda-600d-49fe-ab48-72cae1978227",
      "name": "Proyecto aprobado",
      "webhookId": "4bbaa096-997c-414b-9042-827694918834",
      "credentials": {
        "smtp": {
          "id": "3ApPeBUPhqEfkiRA",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "junta360digital@gmail.com",
        "toEmail": "={{ $json.body.proponente_email }}",
        "subject": "Resoluci贸n de tu proyecto",
        "html": "=Hola {{ $json.body.proponente_nombre }},\n\nTe escribimos para informarte que tu proyecto \"{{ $json.body.proyecto_titulo }}\" ha sido rechazado por la directiva.\n\nPuedes contactarnos para m谩s detalles sobre esta decisi贸n.\n\nAgradecemos tu iniciativa y esperamos ver m谩s propuestas de tu parte en el futuro.\nSaludos,\nLa directiva",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -64,
        464
      ],
      "id": "950613da-9daa-4788-beff-6ecdf17b01c8",
      "name": "Proyecto rechazado",
      "webhookId": "6c2f79d5-c0f0-421d-8c84-e7afeaa98355",
      "credentials": {
        "smtp": {
          "id": "3ApPeBUPhqEfkiRA",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6a6dc069-8dbe-4c3f-8f88-e5d4a330b4e2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -336,
        -464
      ],
      "id": "20f9a2de-d4e5-4c15-9f24-737154835e09",
      "name": "Envia avisos",
      "webhookId": "6a6dc069-8dbe-4c3f-8f88-e5d4a330b4e2"
    },
    {
      "parameters": {
        "fromEmail": "junta360digital@gmail.com",
        "toEmail": "={{ $json.body.emails_destino }}",
        "subject": "={{ $json.body.titulo }}",
        "html": "={{ $json.body.contenido }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        176,
        -608
      ],
      "id": "a146532c-ed29-4335-ac60-230cbdbeb7aa",
      "name": "Send email1",
      "webhookId": "67e53e3b-d526-4025-a50e-c1e7d8f85038",
      "credentials": {
        "smtp": {
          "id": "3ApPeBUPhqEfkiRA",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.tipo_aviso }}",
                    "rightValue": "email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1f01c9f5-07fa-4a5a-8de5-c32e899fc73a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "94250a04-1a6f-4ba1-9265-9a1e7d0b0a29",
                    "leftValue": "={{ $json.body.tipo_aviso }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5bc8f901-735b-4452-a992-1f4cefd2c1d0",
                    "leftValue": "={{ $json.body.tipo_aviso }}",
                    "rightValue": "ambos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -80,
        -432
      ],
      "id": "ce6c43fb-5070-4b5c-ab8f-852cfd56a4f2",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=674778979062079",
        "recipientPhoneNumber": "={{ $json.body.telefonos_destino }}",
        "textBody": "{{$json.titulo}} + {{$json.contenido}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        176,
        -352
      ],
      "id": "88039622-bb14-4cca-ad12-9a0f6d33bb7f",
      "name": "Text1",
      "webhookId": "2e22f807-2522-4321-a3e2-a261bf0a2acd",
      "credentials": {
        "whatsAppApi": {
          "id": "lk6OHOwwr0dxFtYg",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9d9ef9d0-76df-446c-8b82-f90cbc79f997",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        416,
        656
      ],
      "id": "fab69daa-055e-4489-a327-9fdb9835fb82",
      "name": "Password Reset Verification",
      "webhookId": "9d9ef9d0-76df-446c-8b82-f90cbc79f997"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9d9ef9d0-76df-446c-8b82-f90cbc79f997",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        416,
        864
      ],
      "id": "ff6a42a0-667d-4f07-a40b-a1d7f1530c0f",
      "name": "Password Change Confirmation",
      "webhookId": "9d9ef9d0-76df-446c-8b82-f90cbc79f997"
    },
    {
      "parameters": {
        "fromEmail": "junta360digital@gmail.com",
        "toEmail": "={{ $json.body.email }}",
        "subject": "=C贸digo de recuperaci贸n",
        "html": "=<p>Hola <b>{{ $json.body.user_name }}</b>,</p>\n<br>\n<p>Hemos recibido una solicitud para restablecer la contrase帽a de tu cuenta. Para completar el proceso, ingresa el siguiente c贸digo de verificaci贸n:</p>\n<br>\n<p style=\"font-size: 24px; font-weight: bold; color: #4CAF50;\">{{ $json.body.code }}</p>\n<br>\n<p>Este c贸digo es v谩lido por <b>{{ $json.body.expiration_minutes }}</b> minutos.</p>\n<br>\n<p>Si no solicitaste este restablecimiento, es posible que alguien m谩s haya intentado acceder a tu cuenta. Te recomendamos cambiar tu contrase帽a una vez que recuperes el acceso.</p>\n<br>\n<p>Saludos cordiales,</p>\n",
        "options": {
          "attachments": "data"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        688,
        640
      ],
      "id": "2bce4b98-6dec-4bbb-b554-6f3e83a9368a",
      "name": "Send email2",
      "webhookId": "60795e5c-908c-489d-8d3e-838038b25d7c",
      "credentials": {
        "smtp": {
          "id": "3ApPeBUPhqEfkiRA",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "junta360digital@gmail.com",
        "toEmail": "={{$json.body.email}}",
        "subject": "=Su contrase帽a de Junta360 ha sido cambiada",
        "html": "=<p>Hola <b>{{ $json.body.user_name }}</b>,</p>\n<br>\n<p>Solo para confirmar que tu contrase帽a ha sido cambiada con 茅xito.</p>\n<br>\n<p>Si no realizaste este cambio, por favor, contacta a nuestro equipo de soporte inmediatamente.</p>\n<br>\n<p>Saludos cordiales,</p>\n",
        "options": {
          "attachments": "data"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        704,
        896
      ],
      "id": "db5cfd17-5556-4386-a97e-0d45483789cc",
      "name": "Send email3",
      "webhookId": "60795e5c-908c-489d-8d3e-838038b25d7c",
      "credentials": {
        "smtp": {
          "id": "3ApPeBUPhqEfkiRA",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Proyecto aprobado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Proyecto rechazado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia avisos": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send email1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send email1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Password Reset Verification": {
      "main": [
        [
          {
            "node": "Send email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Password Change Confirmation": {
      "main": [
        [
          {
            "node": "Send email3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ffb8743d-a7c2-4bfd-b0d7-31a61eb1004b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6a8e5226cc4ffb702ef6592fcb908f935e7ab4812b42c0f10737d8df6fe0d2c"
  },
  "id": "oapt00BHZ6lAIKfq",
  "tags": []
}